 <div class="card shadow-sm">
    <img class="bd-placed-img card-img-top" width="100%" src="{{livro.image}}"> 

    <div class="card-body">
        <p class="card-text">{{livro.title}}</p>
        <p class="card-text">{{livro.subtitle}}</p>
        <p class="card-text">{{livro.price}}</p>

        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Comprar</button>
            <button type="button" class="btn btn-sm btn-outline-primary">Detalhe</button>
        </div>
    </div>
 </div>